body{
    color: #333333;
}
.color-orange{
    color: orange;
}
.container{
    font-family: Roboto, sans-serif;
    font-size: 14px;
    padding: 0px;
    width: 100%;
}
.head{
    position: fixed;
    left: 0;
    top: 0;
    height: 70px;
    width: 100%;
    background-color: white;
    z-index: 2;
    justify-content: space-between;
    align-items: center;
}
.head>.backward-button{
    display: flex;
    border-radius: 5px;
    color: orange;
}
.head>.list{
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 120%;
}
.head>.delete-all-button{
    display: flex;
    justify-content: end;
}
.head>.delete-all-button>button{
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(23, 136, 8);
    background-color: white;
    color: rgb(23, 136, 8);
}
.menu{
    margin: 70px 0px 50px 0px;
}
.btn-sm {
    padding: 0.2rem 0.25rem;
    font-size: .6rem;
    line-height: 1;
    border-radius: 0.2rem;
}
.item{
    margin: 10px;
    background-color: white;
    border-radius: 10px;
    height: 100px;
}
.item>.pic>img {
    width: 110%;
    height: 80px;
    margin: 10px 0px 0px 0px;
}
.item>.text{
    padding-top: 5px;
    line-height: 2em;
}
.item>.text>.food-name{
    font-weight: bold;
}
.delete{
    padding-top: 10px;
}
.confirm-button{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: white;
    padding-top: 10px;
}
